 * {
    margin: 0;
    padding:0;
}
h1 {
    
    font-size:200%;
    color:#ff0000; 
   
    width:45%;
    
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    margin:0 auto;
    text-align: center;
}
P{
    line-height:100%;
}
.border{
    
    width:80%;
    background-color: #eee;
    border:3px solid black;
    margin-top:20px;
    margin-bottom:20px;
    margin:0 auto;
}
.p1 {
    font-size:30px;
    width:100px;
    height:40px;
    background-color:pink;
    border:3px solid black;
    color:black;
    float:right;
    text-align:center;

    






  /*  border:3px dotted red;*/
  
}
.width{
    border:3px solid black;
    width:80%;
    margin: 0 auto;
}
.beef {
    font-size:30px;
    width:100px;
    height:40px;
    background-color:red;
    color:white;
    border:3px solid blue;
    align-self: flex-center;
    float:right;
    text-align:center;

}

.sushi {
    font-size:30px;
    width:100px;
    height:40px;
    background-color:yellow;
    border:3px solid black;
    color:black;
    float:right;
    text-align:center;
}
#m-t {
    margin-top: 15px;
}
.p-t {
    padding-top: 60px;
}
.m-b{
    margin-bottom:45px;
}
button {
    width:60%;
    height: 15%;
    line-height:25px;
    margin: 0 auto;
    
}
button:hover{
    background-color: #ff0000;
    
}
/*tablet view */
@media only screen and (min-width:768px) and (max-width:991px){
    .div2{
        margin:0;
        padding:0;
        display:inline-block;
       width: 45%;
       MARGIN-bottom: 25PX;
    }
    #M-t{
        margin-left: 15px;
    }
    .first-div{
        margin:3%;
    }
} 
/*desktop vieww*/
@media only screen and (min-width:992px) {
    body{
        margin:0;
        padding:0;
    }
.flex{
    display:flex;
    align-items: stretch;
    margin-top: 5%;
}
.flex-child {
    flex:1;
    align-items: stretch;
} 
       .width{
        border:3px solid black;
        margin: 0 auto;
    }
   .first-div{
    margin:5%;
   }
       
}